* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  background-color: #FF805D;
}

.container {
  width: 100%;
  height: 350px;
  background-color: #52AACA;
  margin-top: 200px;
  display: flex;
  justify-content: flex-start;
}

.bloc {
  height: 350px;
  display: flex;
  justify-content: left;
  cursor: pointer;
  overflow: hidden;
}

.box {
  position: relative;
  width: 120px;
  height: 350px;
  display: flex;
  transition: width 0.7s;
}
.box::after {
  position: absolute;
  content: "";
  width: 0;
  height: 350px;
  top: 0;
  right: 0;
  transition: width 0.7s;
  background-size: 60px 60px;
  background-repeat: no-repeat;
  background-position: center;
}
.box::before {
  position: absolute;
  content: "";
  width: 120px;
  height: 350px;
  top: 0;
  left: 0;
  border-right: 1px solid #54ACCC;
  transition: width 0.7s;
  background-color: #66BEDE;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40px 40px;
}

.information {
  position: relative;
  width: 0;
  height: 350px;
  background-color: white;
  padding-top: 110px;
  overflow: hidden;
  transition: width 0.7s;
}
.information h2 {
  width: 550px;
  font-size: 60px;
  margin-left: 20px;
  font-family: Calibri, sans-serif;
  font-weight: 800;
}
.information p {
  width: 550px;
  height: 60px;
  margin-left: 20px;
  font-size: 24px;
  font-family: Calibri, sans-serif;
  line-height: 40px;
  font-weight: 600;
  margin-top: 50px;
}

.bloc:hover .information {
  width: 580px;
}

.bloc:hover .box_twitter::after {
  width: 100%;
  transition: width 0.7s;
  background-image: url("../icons/twitter.svg");
  background-color: red;
}

.bloc .box_twitter::before {
  transition: width 0.7s;
  background-image: url("../icons/twitter.svg");
  background-color: #66BEDE;
  background-size: 40px 40px;
  background-repeat: no-repeat;
  background-position: center;
}

.bloc:hover .box_twitter::before {
  width: 0;
}

.bloc:hover .box_facebook::after {
  width: 100%;
  background-image: url("../icons/facebook.svg");
  background-color: #356DAB;
  transition: width 0.7s;
}

.bloc .box_facebook::before {
  transition: width 1s;
  background-image: url("../icons/facebook.svg");
  background-color: #66BEDE;
  background-size: 40px 40px;
  background-repeat: no-repeat;
  background-position: center;
}

.bloc:hover .box_facebook::before {
  width: 0;
}

.bloc:hover .box_linkedin::after {
  width: 100%;
  background-image: url("../icons/linkedin.svg");
  background-color: #0087C1;
  transition: width 0.7s;
}

.bloc .box_linkedin::before {
  transition: width 0.7s;
  background-image: url("../icons/linkedin.svg");
  background-color: #66BEDE;
  background-size: 40px 40px;
  background-repeat: no-repeat;
  background-position: center;
}

.bloc:hover .box_linkedin::before {
  width: 0;
}

.bloc:hover .box_instagram::after {
  width: 100%;
  background-image: url("../icons/instagram-alt.svg");
  background-color: #489226;
  transition: width 0.7s;
}

.bloc .box_instagram::before {
  transition: width 0.7s;
  background-image: url("../icons/instagram-alt.svg");
  background-color: #66BEDE;
  background-size: 40px 40px;
  background-repeat: no-repeat;
  background-position: center;
}

.bloc:hover .box_instagram::before {
  width: 0;
}

.bloc:hover .box_youtube::after {
  width: 100%;
  background-image: url("../icons/youtube.svg");
  background-color: #DB2721;
  transition: width 0.7s;
}

.bloc .box_youtube::before {
  transition: width 0.7s;
  background-image: url("../icons/youtube.svg");
  background-color: #66BEDE;
  background-size: 40px 40px;
  background-repeat: no-repeat;
  background-position: center;
}

.bloc:hover .box_youtube::before {
  width: 0;
}

.bloc:hover .box_tumblr::after {
  width: 100%;
  background-image: url("../icons/tumblr.svg");
  background-color: #294865;
  transition: width 0.7s;
}

.bloc .box_tumblr::before {
  transition: width 0.7s;
  background-image: url("../icons/tumblr.svg");
  background-color: #66BEDE;
  background-size: 40px 40px;
  background-repeat: no-repeat;
  background-position: center;
}

.bloc:hover .box_tumblr::before {
  width: 0;
}

.bloc:hover .box_dribbble::after {
  width: 100%;
  background-image: url("../icons/dribbble.svg");
  background-color: #F37C9C;
  transition: width 0.7s;
}

.bloc .box_dribbble::before {
  transition: width 0.7s;
  background-image: url("../icons/dribbble.svg");
  background-color: #66BEDE;
  background-size: 40px 40px;
  background-repeat: no-repeat;
  background-position: center;
}

.bloc:hover .box_dribbble::before {
  width: 0;
}

/*# sourceMappingURL=main.css.map */
