@import "base/base";
body {
	 background-color: #FF805D;
}

.container {
	width: 100%;
	height: 350px;
	background-color: #52AACA;
	margin-top: 200px;
	display: flex;
	justify-content: flex-start;

	.box {
		width: 120px;
		height: 100%;
		display: flex;
		justify-content: left;
		align-items: center;
		padding-left: 40px;
		background-color: #66BEDE;
		border-right: 1px solid #54ACCC;
		transition: width 1s;
		overflow: hidden;
		cursor: pointer;

		& img {
			width: 40px;
			height: 40px;
			background-color: #66BEDE;
			color: #6CABBA;
		}

	//	.twitter::after {
		//	content: ;
		//}


		&:hover {
			display: flex;
			width: 550px;
		}
	}

	.information {
		width: 550px;
		background-color: white;
		padding-left: 20px;
		padding-top: 110px;
	//	display: none;

		h1 {
			font-size: 60px;
			font-family: Calibri;
			font-weight: 800;
		}

		p {
			font-size: 24px;
			font-family: Calibri;
			line-height: 40px;
			font-weight: 600;
		}
	}

}